body {
    display: flex;
    margin: 0;
    background-color: #bdb2ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

body > * {
    display: flex;
    flex-shrink: 0;
}

.header {
    background-color: #9a89f3;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header__img {
    width: 130px;
}

.logo_container{
    height: fit-content;
    align-self: center;
}

.header__login{
    width: fit-content;
    height: fit-content;
    align-self: center;
}
.header__login:hover ul , ul:hover{
    display: block;
}

.header__login ul{
    display: none;
    list-style: none;
    padding: 0%;
    position: absolute;
    width: 100px;
    text-align: right;
    margin : 0px 0px 0px -35px;
}

.header__login li{
    margin: 20px 0px;
}

.header__login li a{
    color: black;
    text-decoration: none;
}
.header__login--profile{
    padding: 0%;
    width: fit-content;
    display: flex;
}

.main{
    flex-direction: column;
    flex-grow: 1;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(#bdb2ff, #abc4ff );
}
.main__title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 60px;
    
}

.img__rock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; 
    margin-top: 10px;
    margin-left: 10px;
}

.img__scissor{
    display: flex;
    justify-content: center;
    width: 100px; 
    margin-top: 10px;
    margin-left: 10px;
}

.img__paper{
    display: flex;
    justify-content: center;
    width: 100px; 
    margin-top: 10px;
    margin-left: 10px;
} 

.actions__container{
    display: flex;
    width: auto;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.information{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    
}
.information p{
    padding:2px;
    border:2px;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.menu ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0%;
}
.menu li {
    display:flex;
    margin: 15px;
}
.menu li a {
    color: black;
    text-decoration: none;
}


.input{
    background-color: transparent;
    border-left:0px ;
    border-top: 0px;
    border-bottom: 2px solid white;
    border-right: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    height: 30px;
}

::placeholder{
    color:black;
}

.button{
    background-color: rgba(255,255,255,0.1);
    border:none;
    border-radius: 30px;
    height: 50px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin: 10px 0px;
}


.footer{
    display:flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #9a89f3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer a {
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

