body {
    margin: 0%;
    background-color: #bdb2ff;
    font-family: 'Playfair Display', serif;
}
.header {
    background-color: #9a89f3;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header__img {
    width: 130px;
}

.logo_container{
    height: fit-content;
    align-self: center;
}

.header__iniciarsesion{
    margin-right:85px;
    height: fit-content;
    align-self: center;
}
.header__iniciarsesion:hover ul , ul:hover{
    display: block;
}

.header__iniciarsesion ul{
    display: none;
    list-style: none;
    padding: 0%;
    position: absolute;
    width: 130px;
    text-align: right;
    margin : 0px 0px 0px -35px;
}

.header__iniciarsesion li{
    margin: 20px 0px;
}

.header__iniciarsesion li a{
    color: black;
    text-decoration: none;
}
.header__iniciarsesion--profile{
    padding: 0%;
    margin-right: 8px;
    width: 35px;
    display: flex;
}

.main{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main__title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 60px;
    
}

.img__rock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px; 
    margin-top: 10px;
    margin-left: 10px;
}

.img__scissor{
    display: flex;
    justify-content: center;
    width: 130px; 
    margin-top: 10px;
    margin-left: 10px;
}

.img__paper{
    display: flex;
    justify-content: center;
    width: 130px; 
    margin-top: 10px;
    margin-left: 10px;
} 

.actions_container{
    display: flex;
    width: auto;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.menu ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0%;
}
.menu li {
    display:flex;
    margin: 15px;
}
.menu li a {
    color: black;
    text-decoration: none;
}

.information{
    padding: 20px;
    font-size: 20px;
    margin-right: 60px;
    margin-left: 60px;

}

.footer{
    width: 100%;
    height: 300px;
    background-color: #9a89f3;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin-top: 100px;
}

